<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:bkt="http://bracket.jiangcai.me"
      xmlns:res="http://resource.jiangcai.me" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../css/style.default.css" th:href="@{/css/style.default.css}"/>
    <link rel="stylesheet" href="../css/bootstrap-fileupload.min.css" th:href="@{/css/bootstrap-fileupload.min.css}"/>
    <link rel="stylesheet" href="../css/bootstrap-timepicker.min.css" th:href="@{/css/bootstrap-timepicker.min.css}"/>
    <link rel="stylesheet" href="../css/jquery.tagsinput.css" th:href="@{/css/jquery.tagsinput.css}"/>
    <link rel="stylesheet" href="../css/colorpicker.css" th:href="@{/css/colorpicker.css}"/>
    <link rel="stylesheet" href="../css/dropzone.css" th:href="@{/css/dropzone.css}"/>


    <script src="../js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
    <script src="../js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
    <script src="../js/jquery-ui-1.10.3.min.js" th:src="@{/js/jquery-ui-1.10.3.min.js}"></script>
    <script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>
    <script src="../js/jquery.sparkline.min.js" th:src="@{/js/jquery.sparkline.min.js}"></script>
    <script src="../js/toggles.min.js" th:src="@{/js/toggles.min.js}"></script>
    <script src="../js/retina.min.js" th:src="@{/js/retina.min.js}"></script>
    <script src="../js/jquery.cookies.js" th:src="@{/js/jquery.cookies.js}"></script>

    <script src="../js/jquery.autogrow-textarea.js" th:src="@{/js/jquery.autogrow-textarea.js}"></script>
    <script src="../js/bootstrap-fileupload.min.js" th:src="@{/js/bootstrap-fileupload.min.js}"></script>
    <script src="../js/bootstrap-timepicker.min.js" th:src="@{/js/bootstrap-timepicker.min.js}"></script>
    <script src="../js/jquery.maskedinput.min.js" th:src="@{/js/jquery.maskedinput.min.js}"></script>
    <script src="../js/jquery.tagsinput.min.js" th:src="@{/js/jquery.tagsinput.min.js}"></script>
    <script src="../js/jquery.mousewheel.js" th:src="@{/js/jquery.mousewheel.js}"></script>
    <script src="../js/chosen.jquery.min.js" th:src="@{/js/chosen.jquery.min.js}"></script>
    <script src="../js/dropzone.min.js" th:src="@{/js/dropzone.min.js}"></script>
    <script src="../js/colorpicker.js" th:src="@{/js/colorpicker.js}"></script>


    <script src="../js/custom.js" th:src="@{/js/custom.js}"></script>

    <title>这里是显示左侧--可以理解为导航栏的模板</title>
    <meta name="description" content="left模板 支持输入参数activeMenu 标识当前所在的菜单"/>
</head>
<body>

<div class="leftpanel" th:fragment="left (activeMenu)">

    <div class="logopanel">
        <h1><span>[</span> 后台管理 <span>]</span></h1>
    </div><!-- logopanel -->

    <div class="leftpanelinner">

        <!-- This is only visible to small devices -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media userlogged">
                <img alt="" res:src="${#authentication.principal}" src="../images/photos/loggeduser.png"
                     class="media-object"/>

                <div class="media-body">
                    <h4 th:text="${#authentication.name}">John Doe</h4>
                    <span>&nbsp;</span>
                </div>
            </div>

            <h5 class="sidebartitle actitle">帐号</h5>
            <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                <li><a href="../user/setting.html" th:href="@{/userSetting}"><i class="fa fa-cog"></i> <span>帐号设置</span></a>
                </li>
                <li><a href="../user/signin.html" th:href="@{/login(logout)}"><i class="fa fa-sign-out"></i>
                    <span>登出</span></a></li>
            </ul>
        </div>

        <h5 class="sidebartitle">导航</h5>
        <ul class="nav nav-pills nav-stacked nav-bracket">
            <li bkt:activeMenu="index"><a href="../index/index.html"><i class="fa fa-home"></i> <span>帮助</span></a></li>

            <li bkt:activeMenu="job"><a href="../job/index.html"><i class="fa fa-suitcase"></i> <span>任务管理</span></a>
            </li>

            <li class="nav-parent" bkt:activeMenu="'users,nurses,patients,wards'"><a href=""><i class="fa fa-users"></i>
                <span>用户管理</span></a>
                <ul class="children" bkt:menuChildren="1">
                    <li bkt:activeMenu="nurses"><a href="../users/nurse.html" th:href="@{/nurse}"><i
                            class="fa fa-caret-right"></i> 护工管理</a>
                    </li>
                    <li bkt:activeMenu="patients"><a href="../users/patient.html"><i class="fa fa-caret-right"></i> 病人管理</a>
                    </li>
                    <li bkt:activeMenu="wards"><a href="../users/ward.html"><i class="fa fa-caret-right"></i> 病房管理</a>
                    </li>
                </ul>
            </li>

            <li bkt:activeMenu="lock"><a href="../users/lock.html"><i class="fa fa-lock"></i> <span>门禁管理</span>
            </a></li>
            <li bkt:activeMenu="warn"><a href="../warn/index.html"><i class="fa fa-warning"></i> <span>报警管理</span>
            </a></li>
            <li bkt:activeMenu="dict"><a href="../settings/dict.html"><i class="fa fa-edit"></i> <span>字典管理</span>
            </a></li>
            <li bkt:activeMenu="setting"><a href="../settings/more.html"><i class="fa fa-gears"></i> <span>设置</span>
            </a></li>

        </ul>

        <div class="infosummary">
            <h5 class="sidebartitle">系统概况</h5>
            <ul>
                <li id="info-patients">
                    <div class="datainfo">
                        <span class="text-muted">病人数量</span>
                        <h4 th:text="${#numbers.formatInteger(@patientRepository.count(),1,'COMMA')}">630, 201</h4>
                    </div>
                    <div class="chart"></div>
                </li>
                <li id="info-jobs">
                    <div class="datainfo">
                        <span class="text-muted">任务数量</span>
                        <h4>201</h4>
                    </div>
                    <div class="chart"></div>
                </li>
                <li id="info-nurses">
                    <div class="datainfo">
                        <span class="text-muted">护工数量</span>
                        <h4 th:text="${#numbers.formatInteger(@nurseRepository.count(),1,'COMMA')}">1, 332, 801</h4>
                    </div>
                    <div class="chart"></div>
                </li>
                <li id="info-locks">
                    <div class="datainfo">
                        <span class="text-muted">可用门禁卡数量</span>
                        <h4>82.2%</h4>
                    </div>
                    <div class="chart"></div>
                </li>
            </ul>
        </div><!-- infosummary -->


    </div><!-- leftpanelinner -->
</div>
</body>
</html>