<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../images/favicon.png" th:href="@{/images/favicon.png}" type="image/png">
    <title>病人管理</title>
    <link href="../css/style.default.css" th:href="@{/css/style.default.css}" rel="stylesheet">
    <link href="../css/jquery.datatables.css" th:href="@{/css/jquery.datatables.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>
    <script src="../js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
<section>

    <div class="leftpanel" th:replace="fragments/left::left('patients')">

        <div class="logopanel">
            <h1><span>[</span> 后台管理 <span>]</span></h1>
        </div><!-- logopanel -->

        <div class="leftpanelinner">

            <!-- This is only visible to small devices -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media userlogged">
                    <img alt="" src="../images/photos/loggeduser.png" class="media-object">
                    <div class="media-body">
                        <h4>John Doe</h4>
                        <span>"Life is so..."</span>
                    </div>
                </div>

                <h5 class="sidebartitle actitle">Account</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                    <li><a href="../user/setting.html"><i class="fa fa-cog"></i> <span>帐号设置</span></a></li>
                    <li><a href="../user/signin.html"><i class="fa fa-sign-out"></i> <span>登出</span></a></li>
                </ul>
            </div>

            <h5 class="sidebartitle">导航</h5>
            <ul id="mainMenu" class="nav nav-pills nav-stacked nav-bracket">
                <li><a href="../index/index.html"><i class="fa fa-home"></i> <span>帮助</span></a></li>

                <li><a href="../job/index.html"><i class="fa fa-suitcase"></i> <span>任务管理</span></a></li>

                <li class="nav-parent nav-active active"><a href=""><i class="fa fa-users"></i> <span>用户管理</span></a>
                    <ul class="children" style="display: block">
                        <li><a href="../users/nurse.html"><i class="fa fa-caret-right"></i> 护工管理</a></li>
                        <li class="active"><a href="../users/patient.html"><i class="fa fa-caret-right"></i> 病人管理</a>
                        </li>
                        <li><a href="../users/ward.html"><i class="fa fa-caret-right"></i> 病房管理</a></li>
                    </ul>
                </li>

                <li><a href="../users/lock.html"><i class="fa fa-lock"></i> <span>门禁管理</span></a></li>
                <li><a href="../warn/index.html"><i class="fa fa-warning"></i> <span>警报管理</span></a></li>
                <li><a href="../settings/dict.html"><i class="fa fa-edit"></i> <span>字典管理</span></a></li>
                <li><a href="../settings/more.html"><i class="fa fa-gears"></i> <span>设置</span></a></li>

            </ul>

            <div class="infosummary">
                <h5 class="sidebartitle">系统概况</h5>
                <ul>
                    <li id="info-patients">
                        <div class="datainfo">
                            <span class="text-muted">病人数量</span>
                            <h4>630, 201</h4>
                        </div>
                        <div class="chart"></div>
                    </li>
                    <li id="info-jobs">
                        <div class="datainfo">
                            <span class="text-muted">任务数量</span>
                            <h4>201</h4>
                        </div>
                        <div class="chart"></div>
                    </li>
                    <li id="info-nurses">
                        <div class="datainfo">
                            <span class="text-muted">护工数量</span>
                            <h4>1, 332, 801</h4>
                        </div>
                        <div class="chart"></div>
                    </li>
                    <li id="info-locks">
                        <div class="datainfo">
                            <span class="text-muted">可用门禁卡数量</span>
                            <h4>82.2%</h4>
                        </div>
                        <div class="chart"></div>
                    </li>
                </ul>
            </div><!-- infosummary -->

        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">

        <div class="headerbar" th:replace="fragments/header::header">

            <a class="menutoggle"><i class="fa fa-bars"></i></a>

            <form class="searchform" action="index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="点击搜索……"/>
            </form>

            <div class="header-right">
                <ul class="headermenu">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-warning-sign"></i>
                                <span class="badge">2</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">待处理警告</h5>
                                <ul class="dropdown-list user-list">
                                    <li class="new">
                                        <div class="thumb"><a href="../job/warning.html"><img
                                                src="../images/photos/user3.png" alt=""/></a>
                                        </div>
                                        <div class="desc">
                                            <h5><a href="../job/warning.html">血压异常</a><span
                                                    class="badge badge-success">new</span></h5>
                                        </div>
                                    </li>
                                    <li class="new">
                                        <div class="thumb"><a href="../job/warning.html"><img
                                                src="../images/photos/user3.png" alt=""/></a>
                                        </div>
                                        <div class="desc">
                                            <h5><a href="../job/warning.html">体温异常</a><span
                                                    class="badge badge-success">new</span></h5>
                                        </div>
                                    </li>
                                    <li class="new"><a href="../job/warnings.html">查看所有警报</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="../images/photos/loggeduser.png" alt=""/>
                                John Doe
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href="../user/setting.html"><i class="glyphicon glyphicon-cog"></i> 帐号设置</a>
                                </li>
                                <li><a href="../user/signin.html"><i class="glyphicon glyphicon-log-out"></i> 登出</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- header-right -->

        </div><!-- headerbar -->

        <div class="pageheader">
            <h2><i class="fa fa-home"></i> 病人管理 <span>入住,分配病房等等</span></h2>
        </div>

        <div class="contentpanel">
            <form id="addPatientForm" action="patient.html" method="POST" th:action="@{/config}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-btns">
                            <a href="" class="panel-close">&times;</a>
                            <a href="" class="minimize">&minus;</a>
                        </div><!-- panel-btns -->
                        <h3 class="panel-title">入住</h3>
                        <p>入住一名病人</p>
                    </div>
                    <div class="panel-body">

                        <div class="form-horizontal form-bordered">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">身份证 <span class="asterisk">*</span></label>

                                <div class="col-sm-4">
                                    <input name="checkForID" title="身份证" type="text" placeholder="输入身份证获取病人信息"
                                           class="form-control" value="330324197710108918" th:value="''"/>
                                </div>
                                <button id="patientChecker" class="col-sm-2 btn btn-darkblue">检查</button>
                            </div>
                        </div>

                        <div id="addPatient" class="form-horizontal form-bordered" style="display: none; ">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-2">
                                    <input name="name" title="姓名" type="text" class="form-control"/>
                                </div>
                                <label class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-2">
                                    <select name="sex" title="性别" class="form-control input-sm sexSelect">
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">民族</label>
                                <div class="col-sm-2">
                                    <select name="nationality" title="民族"
                                            class="form-control nationalitySelect">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">档案号</label>
                                <div class="col-sm-2">
                                    <input name="code" title="档案号" type="text" class="form-control"/>
                                </div>
                                <label class="col-sm-2 control-label">户籍类型</label>
                                <div class="col-sm-2">
                                    <select name="censusType" title="户籍类型"
                                            class="form-control input-sm censusTypeSelect">
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">文化程度</label>
                                <div class="col-sm-2">
                                    <select name="culture" title="文化程度" class="form-control input-sm cultureSelect">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">身份证号</label>
                                <div class="col-sm-2">
                                    <input name="identityCode" title="身份证号" type="text" class="form-control"/>
                                </div>
                                <label class="col-sm-2 control-label">婚姻状况</label>
                                <div class="col-sm-2">
                                    <select name="marriage" title="婚姻状况" class="form-control input-sm marriageSelect">
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">出生日期</label>
                                <div class="col-sm-2">
                                    <input name="birth" title="姓名" type="text" class="form-control datePicker"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">残疾证号</label>
                                <div class="col-sm-2">
                                    <input name="disabilityCode" title="残疾证号" type="text" class="form-control"/>
                                </div>
                                <label class="col-sm-2 control-label">手机</label>
                                <div class="col-sm-2">
                                    <input name="mobile" title="姓名" type="text" class="form-control"/>
                                </div>
                                <label class="col-sm-2 control-label">电话号码</label>
                                <div class="col-sm-2">
                                    <input name="phone" title="电话号码" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">地区</label>
                                <div class="col-sm-6">
                                    <input name="name" title="姓名" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>

                    </div><!-- panel-body -->

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-primary">Submit</button>
                                &nbsp;
                                <button class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div><!-- panel-footer -->

                </div>
            </form>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-close">&times;</a>
                        <a href="" class="minimize">&minus;</a>
                    </div><!-- panel-btns -->
                    <h3 class="panel-title">病人列表</h3>
                    <p>可以删除或者更改病人的信息</p>
                </div>
                <div class="panel-body">
                    <!--<div class="clearfix mb30"></div>-->
                    <!--<h5 class="subtitle mb5">Alternative Pagination</h5>-->
                    <!--<p>The example below shows the full_numbers type of pagination, where 'first', 'previous', 'next'-->
                    <!--and 'last' buttons are presented, as well as the five pages around the current page.</p>-->
                    <!--<br/>-->
                    <div class="table-responsive">
                        <table class="table" id="patientTable">
                            <thead>
                            <tr>
                                <th>病房</th>
                                <th>名字</th>
                                <th>体温</th>
                                <th>心跳</th>
                                <th>是否离床</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <!--odd even-->
                            <tbody>
                            <tr class="odd gradeX">
                                <td>607</td>
                                <td class="center">吴兰花</td>
                                <td align="right">N/A</td>
                                <td align="right">N/A</td>
                                <td class="center">是</td>
                                <td class="center">
                                    <a href="editNurse.html"><i class="fa fa-pencil"></i></a>
                                    <a href="" onclick="return confirm('确实要删除么?')" class="delete-row"><i
                                            class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div>
            </div>

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->

</section>

<script src="../js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../js/jquery-ui-1.10.3.min.js" th:src="@{/js/jquery-ui-1.10.3.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>
<script src="../js/jquery.sparkline.min.js" th:src="@{/js/jquery.sparkline.min.js}"></script>
<script src="../js/toggles.min.js" th:src="@{/js/toggles.min.js}"></script>
<script src="../js/retina.min.js" th:src="@{/js/retina.min.js}"></script>
<script src="../js/jquery.cookies.js" th:src="@{/js/jquery.cookies.js}"></script>
<script src="../js/custom.js" th:src="@{/js/custom.js}"></script>

<script src="../js/jquery.validate.min13.js" th:src="@{/js/jquery.validate.min13.js}"></script>
<script src="../js/msgresource/jquery.validation.message-zh_cn.js"
        th:src="@{/js/msgresource/jquery.validation.message-zh_cn.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/u/dt/dt-1.10.12/datatables.min.js"></script>
<script src="../js/chosen.jquery.min.js" th:src="@{/js/chosen.jquery.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    queryCorePatientUrl = /*[[@{/queryCorePatient}]]*/ '../mock/queryCorePatient.json';
    /*]]*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    dataTable_localisation_url = /*[[@{/localisation/dataTable_zh_CN.json}]]*/ '../localisation/dataTable_zh_CN.json';
    /*]]*/
</script>
<script src="js/patient.js" th:src="@{/users/js/patient.js}"></script>
<script src="../js/dataType.js" th:src="@{/js/dataType.js}"></script>

<script src="../js/jquery.gritter.min.js" th:src="@{/js/jquery.gritter.min.js}"></script>
<script src="../js/jquery.util.js" th:src="@{/js/jquery.util.js}"></script>
<link href="../css/jquery.gritter.css" rel="stylesheet" th:href="@{/css/jquery.gritter.css}"/>
<script>
    function showPrimary(title, text, image, time) {
        jQuery.gritter.add({
            title: title,
            text: text,
            class_name: 'growl-primary',
            image: image,
            sticky: false,
            time: time ? time : ''
        });
    }
    function showSuccess(title, text, image, time) {
        jQuery.gritter.add({
            title: title,
            text: text,
            class_name: 'growl-success',
            image: image,
            sticky: false,
            time: time ? time : ''
        });
    }
    function showWarning(title, text, image, time) {
        jQuery.gritter.add({
            title: title,
            text: text,
            class_name: 'growl-warning',
            image: image,
            sticky: false,
            time: time ? time : ''
        });
    }
    function showDanger(title, text, image, time) {
        jQuery.gritter.add({
            title: title,
            text: text,
            class_name: 'growl-danger',
            image: image,
            sticky: false,
            time: time ? time : ''
        });
    }
    function showInfo(title, text, image, time) {
        jQuery.gritter.add({
            title: title,
            text: text,
            class_name: 'growl-info',
            image: image,
            sticky: false,
            time: time ? time : ''
        });
    }
</script>

</body>
</html>
