<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../images/favicon.png" th:href="@{/images/favicon.png}" type="image/png">
    <title>我的帐号设置</title>
    <link href="../css/style.default.css" th:href="@{/css/style.default.css}" rel="stylesheet"/>

    <link rel="stylesheet" href="../css/dropzone.css" th:href="@{/css/dropzone.css}"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>
    <script src="../js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
<section>

    <div class="leftpanel" th:replace="fragments/left::left('setting')">

        <div class="logopanel">
            <h1><span>[</span> 后台管理 <span>]</span></h1>
        </div><!-- logopanel -->

        <div class="leftpanelinner">

            <!-- This is only visible to small devices -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media userlogged">
                    <img alt="" src="../images/photos/loggeduser.png" class="media-object">
                    <div class="media-body">
                        <h4>John Doe</h4>
                        <span>"Life is so..."</span>
                    </div>
                </div>

                <h5 class="sidebartitle actitle">Account</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                    <li><a href="../user/setting.html"><i class="fa fa-cog"></i> <span>帐号设置</span></a></li>
                    <li><a href="../user/signin.html"><i class="fa fa-sign-out"></i> <span>登出</span></a></li>
                </ul>
            </div>

            <h5 class="sidebartitle">导航</h5>
            <ul id="mainMenu" class="nav nav-pills nav-stacked nav-bracket">
                <li><a href="../index/index.html"><i class="fa fa-home"></i> <span>帮助</span></a></li>

                <li><a href="../job/index.html"><i class="fa fa-suitcase"></i> <span>任务管理</span></a></li>

                <li class="nav-parent"><a href=""><i class="fa fa-users"></i> <span>用户管理</span></a>
                    <ul class="children">
                        <li class="active"><a href="../users/nurse.html"><i class="fa fa-caret-right"></i> 护工管理</a></li>
                        <li><a href="../users/patient.html"><i class="fa fa-caret-right"></i> 病人管理</a></li>
                        <li><a href="../users/ward.html"><i class="fa fa-caret-right"></i> 病房管理</a></li>
                    </ul>
                </li>

                <li><a href="../users/lock.html"><i class="fa fa-lock"></i> <span>门禁管理</span></a></li>
                <li><a href="../settings/dict.html"><i class="fa fa-edit"></i> <span>字典管理</span></a></li>
                <li><a href="../settings/more.html"><i class="fa fa-gears"></i> <span>设置</span></a></li>

            </ul>

            <div class="infosummary">
                <h5 class="sidebartitle">系统概况</h5>
                <ul>
                    <li id="info-patients">
                        <div class="datainfo">
                            <span class="text-muted">病人数量</span>
                            <h4>630, 201</h4>
                        </div>
                        <div class="chart"></div>
                    </li>
                    <li id="info-jobs">
                        <div class="datainfo">
                            <span class="text-muted">任务数量</span>
                            <h4>201</h4>
                        </div>
                        <div class="chart"></div>
                    </li>
                    <li id="info-nurses">
                        <div class="datainfo">
                            <span class="text-muted">护工数量</span>
                            <h4>1, 332, 801</h4>
                        </div>
                        <div class="chart"></div>
                    </li>
                    <li id="info-locks">
                        <div class="datainfo">
                            <span class="text-muted">可用门禁卡数量</span>
                            <h4>82.2%</h4>
                        </div>
                        <div class="chart"></div>
                    </li>
                </ul>
            </div><!-- infosummary -->

        </div><!-- leftpanelinner -->
    </div><!-- leftpanel -->

    <div class="mainpanel">

        <div class="headerbar" th:replace="fragments/header::header">

            <a class="menutoggle"><i class="fa fa-bars"></i></a>

            <form class="searchform" action="index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="点击搜索……"/>
            </form>

            <div class="header-right">
                <ul class="headermenu">
                    <li>
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-warning-sign"></i>
                                <span class="badge">2</span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-head pull-right">
                                <h5 class="title">待处理警告</h5>
                                <ul class="dropdown-list user-list">
                                    <li class="new">
                                        <div class="thumb"><a href="../job/warning.html"><img
                                                src="../images/photos/user3.png" alt=""/></a>
                                        </div>
                                        <div class="desc">
                                            <h5><a href="../job/warning.html">血压异常</a><span
                                                    class="badge badge-success">new</span></h5>
                                        </div>
                                    </li>
                                    <li class="new">
                                        <div class="thumb"><a href="../job/warning.html"><img
                                                src="../images/photos/user3.png" alt=""/></a>
                                        </div>
                                        <div class="desc">
                                            <h5><a href="../job/warning.html">体温异常</a><span
                                                    class="badge badge-success">new</span></h5>
                                        </div>
                                    </li>
                                    <li class="new"><a href="../job/warnings.html">查看所有警报</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <img src="../images/photos/loggeduser.png" alt=""/>
                                John Doe
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                <li><a href="../user/setting.html"><i class="glyphicon glyphicon-cog"></i> 帐号设置</a>
                                </li>
                                <li><a href="../user/signin.html"><i class="glyphicon glyphicon-log-out"></i> 登出</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div><!-- header-right -->

        </div><!-- headerbar -->

        <div class="pageheader">
            <h2><i class="fa fa-home"></i> 帐号设置 <span>更改个人信息</span></h2>
        </div>

        <div class="contentpanel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="panel-close">&times;</a>
                        <a href="" class="minimize">&minus;</a>
                    </div>
                    <h4 class="panel-title">更换头像</h4>
                </div>
                <div class="panel-body">
                    <p>将图片拽入下方区域或者点击即可</p>
                    <br/>
                    <form id="imageUploader" action="/file/post" th:action="@{/uploadImage}" class="dropzone">
                        <div class="fallback">
                            <input name="image" type="file"/>
                        </div>
                    </form>
                </div><!-- panel-body -->

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-primary">Submit</button>
                            &nbsp;
                            <button class="btn btn-default">Cancel</button>
                        </div>
                    </div>
                </div><!-- panel-footer -->

            </div>

            <form id="passwordForm" action="setting.html" method="POST">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-btns">
                            <a href="" class="panel-close">&times;</a>
                            <a href="" class="minimize">&minus;</a>
                        </div><!-- panel-btns -->
                        <h3 class="panel-title">修改您的密码</h3>
                    </div>
                    <div class="panel-body panel-body-nopadding">

                        <div class="form-horizontal form-bordered">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">原密码 <span class="asterisk">*</span></label>

                                <div class="col-sm-6">
                                    <input id="oldPassword" title="密码" name="oldPassword" type="password"
                                           class="form-control"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">密码 <span class="asterisk">*</span></label>

                                <div class="col-sm-6">
                                    <input id="password" title="密码" name="password" type="password"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">确认密码 <span class="asterisk">*</span></label>

                                <div class="col-sm-6">
                                    <input title="确认密码" name="confirmPassword" type="password" class="form-control"/>
                                </div>
                            </div>

                        </div>

                    </div><!-- panel-body -->

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button class="btn btn-primary">Submit</button>
                                &nbsp;
                                <button class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div><!-- panel-footer -->

                </div>
            </form>

        </div><!-- contentpanel -->

    </div><!-- mainpanel -->

</section>

<script src="../js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../js/jquery-ui-1.10.3.min.js" th:src="@{/js/jquery-ui-1.10.3.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>
<script src="../js/jquery.sparkline.min.js" th:src="@{/js/jquery.sparkline.min.js}"></script>
<script src="../js/toggles.min.js" th:src="@{/js/toggles.min.js}"></script>
<script src="../js/retina.min.js" th:src="@{/js/retina.min.js}"></script>
<script src="../js/jquery.cookies.js" th:src="@{/js/jquery.cookies.js}"></script>
<script src="../js/custom.js" th:src="@{/js/custom.js}"></script>

<script src="../js/jquery.validate.min13.js" th:src="@{/js/jquery.validate.min13.js}"></script>
<script src="../js/msgresource/jquery.validation.message-zh_cn.js"
        th:src="@{/js/msgresource/jquery.validation.message-zh_cn.js}"></script>
<script src="../js/dropzone.min.js" th:href="@{/js/dropzone.min.js}"></script>

<script>
    $(function () {

//        $('#imageUploader').dropzone({
//            url:'hehe',
//            dictDefaultMessage:'dalaoed'
//        });
        Dropzone.options.imageUploader = {
            init: function () {
                this.on("success", function (file) {
                    console.log(file.xhr.responseURL);
                    console.log(file.xhr.statusText);
                })
            }
//            maxFilesize: 1,
//            maxFiles: 1,
//            parallelUploads: 1,
//            dictDefaultMessage: '中文你看如何?'
        }
    });

</script>

</body>
</html>
