<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="../images/favicon.png" th:href="@{/images/favicon.png}" type="image/png"/>

    <title th:text="'加入'+${#config.title}">加入</title>

    <link href="../css/style.default.css" th:href="@{/css/style.default.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="signin">


<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

    <div class="signuppanel">
        <!--/*@thymesVar id="info" type="org.jolene.threek.web.model.RegisterInfo"*/-->

        <div class="row">

            <div class="col-md-6">

                <div class="signup-info">
                    <div class="logopanel">
                        <h1 th:utext="${#config.htmlTitle}"><span>[</span> 3K welcome <span>]</span></h1>
                    </div><!-- logopanel -->

                    <div class="mb20"></div>

                    <h5><strong>欢迎加入</strong></h5>

                    <p th:utext="${#config.regWelcomeMessage}">一些介绍.</p>

                    <div class="mb20"></div>

                    <div class="feat-list" th:each="message:${#config.welcomeFeatures}">
                        <i class="fa fa-arrow-circle-o-right"></i>
                        <h4 class="text-success" th:text="${message}">Easy to Customize</h4>
                    </div>
                    <div class="feat-list" th:remove="all">
                        <i class="fa fa-arrow-circle-o-right"></i>
                        <h4 class="text-success">Easy to Customize</h4>
                    </div>
                    <div class="feat-list" th:remove="all">
                        <i class="fa fa-arrow-circle-o-right"></i>
                        <h4 class="text-success">Easy to Customize</h4>
                    </div>
                    <div class="feat-list" th:remove="all">
                        <i class="fa fa-arrow-circle-o-right"></i>
                        <h4 class="text-success">Easy to Customize</h4>
                    </div>


                    <h4 class="mb20">还有更多</h4>

                </div><!-- signup-info -->

            </div><!-- col-sm-6 -->

            <div class="col-md-6">

                <form method="post" action="../investment/index.html" th:action="@{/register}">

                    <h3 class="nomargin">注册</h3>

                    <p class="mt5 mb20">已经是会员? <a href="../signin.html" th:href="@{/login}"><strong>请登录</strong></a></p>

                    <div class="mb10">
                        <label class="control-label">邀请码</label>
                        <input name="code" type="text" class="form-control" title="邀请码"
                               th:value="${info!=null?(info.code?:''):''}"/>
                    </div>

                    <div class="mb10">
                        <label class="control-label">手机号码</label>
                        <input name="mobile" type="text" class="form-control" title="手机号码"
                               th:value="${info!=null?(info.mobile?:''):''}"/>
                    </div>
                    <div class="mb10"><span class="alert-warning">手机号码是你在平台的唯一登录凭据.</span></div>

                    <div class="mb10">
                        <label class="control-label">密码</label>
                        <input type="password" class="form-control" title="密码" name="password"
                               th:value="${info!=null?(info.password?:''):''}"/>
                    </div>


                    <div class="mb10">
                        <label class="control-label">确认密码</label>
                        <input type="password" class="form-control" title="确认密码" name="password2"
                               th:value="${info!=null?(info.password2?:''):''}"/>
                    </div>

                    <br/>

                    <button class="btn btn-success btn-block">注册</button>
                </form>
            </div><!-- col-sm-6 -->

        </div><!-- row -->

        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2014. All Rights Reserved.
            </div>
            <div class="pull-right">
                &nbsp;
            </div>
        </div>

    </div><!-- signuppanel -->

</section>


<script src="../js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../js/jquery-migrate-1.2.1.min.js" th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>
<script src="../js/retina.min.js" th:src="@{/js/retina.min.js}"></script>
<script src="../js/toggles.min.js" th:src="@{/js/toggles.min.js}"></script>
<script src="../js/jquery.sparkline.min.js" th:src="@{/js/jquery.sparkline.min.js}"></script>
<script src="../js/jquery.cookies.js" th:src="@{/js/jquery.cookies.js}"></script>
<script src="../js/jquery.validate.min13.js" th:src="@{/js/jquery.validate.min13.js}"></script>
<script src="../js/msgresource/jquery.validation.message-zh_cn.js"
        th:src="@{/js/msgresource/jquery.validation.message-zh_cn.js}"></script>

<!--<script src="js/chosen.jquery.min.js"></script>-->
<script src="../js/custom.js" th:src="@{/js/custom.js}"></script>
<script th:inline="javascript">

</script>
<script th:inline="javascript">
    var codeRequired = /*[[${#config.onlyInvite}]]*/true;
    $(function () {
        $('form').validate(
                {
                    ignoreTitle: true,
                    highlight: function (element) {
                        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                    },
                    success: function (element) {
                        $(element).closest('.form-group').removeClass('has-error');
                        $(element).remove();
                    },
                    onfocusout: function (element) {
                        $(element).valid();
                    },
                    rules: {
                        code: {
                            required: codeRequired
                        },
                        mobile: {
                            required: true,
                            mobile: true
                        },
                        password: 'required',
                        password2: {
                            required: true,
                            equalTo: "input[name=password]"
                        }
                    }
                }
        );
    });
</script>

<div th:replace="fragments/common::alertFunctions">

</div>

</body>
</html>
